html,
body {
    height: 100%;
}

body{
    display: flex;
    flex-direction: column;
}

.main{
    flex-grow: 1;
}

.container {
    max-width: 1200px;
    padding: 0 15px;
    margin: 0 auto;
}

.big-container {
    max-width: 1800px;
    padding: 0 15px;
    margin: 0 auto; 
}

.title{
    @extend %dmsans-700;
    font-size: 36px;
    line-height: auto;
    color: #191919;
}