@import 'vars';
@import 'fonts';
@import 'reset';
@import 'libs';
@import 'global';



.header {
    padding: 50px 75px;

    &__wrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }
}

.menu {
    &__list {
        display: flex;
    }

    &__list-item+.menu__list-item {
        padding-left: 32px;
    }

    &__list-link {
        color: #436372;
        @extend %rubik-500;
    }

    &__list-link--active {}

    &__list-link--active:after {}
}

.user-nav {
    display: flex;

    &__search img {
        padding: 18px;
        border: 1px;
        background-color: #edf1f4;
        border-radius: 50%;

    }

    &__shop {
        border: 1px;
        align-items: center;
        background-color: #fcd7b6;
        border-radius: 50px;
        display: flex;
        margin: 0 20px;
    }

    &__heart {
        border-right: 1px solid #fde7d3;
        padding: 12px 0;
        position: relative;
    }

    &__cart {
        padding: 12px 0;
        position: relative;
    }

    &__heart img,
    &__cart img {
        padding: 0 35px;
    }

    &__num {
        position: absolute;
        width: 16px;
        height: 16px;
        border-radius: 50%;
        background-color: white;
        top: 4px;
        right: 25px;
        font-size: 10px;
        color: #243f4d;
        text-align: center;
        line-height: 16px;
        @extend %dmsans-400;
    }

    &__btn {
        padding: 15px;
        border: 1px;
        background-color: #a3bbc8;
        border-radius: 50%;
    }

}

.footer-top {
    display: flex;
    justify-content: space-between;
    padding-bottom: 70px;
    border-bottom: 1px solid #dae4e9;
    margin-bottom: 20px;

    &__logo {
        margin-bottom: 26px;
    }


    &__contact {
        display: flex;
        flex-direction: column;
        width: 194px;
        margin-right: 106px;
    }

    &__services {
        width: 120px;
        margin-right: 180px;
    }

    &__account {
        width: 92px;
        margin-right: 210px;
    }

    &__title {
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 21px;
        text-transform: uppercase;
        color: #1f2044;
        margin-bottom: 26px;
    }

    &__link,
    &__adress,
    &__phone,
    &__email,
    &__text {
        @extend %rubik-400;
        color: #7b7b7b;
        font-size: 14px;
        line-height: 32px;
    }

    &__adress,
    &__text {
        line-height: 24px;
    }

    &__text {
        width: 236px;
        margin-bottom: 36px;
    }

    &__form {
        display: flex;
    }

    &__form-input {
        @extend %dmsans-400;
        padding: 15px 0 15px 15px;
        background-color: #fef7f0;
        border: none;
        max-width: 170px;
        width: 100%;
    }

    &__form-input::placeholder {
        font-size: 12px;
        line-height: auto;
        color: #234969;
    }

    &__form-btn {
        @extend %dmsans-400;
        font-size: 14px;
        line-height: 21px;
        color: #ffffff;
        border: none;
        background-color: #a3bbc8;
        padding: 12px 19px;
        cursor: pointer;
    }

}

.footer-bot {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &__copy,
    &__menu-link {
        @extend %rubik-400;
        color: #7b7b7b;
        font-size: 14px;
        line-height: 32px;
    }

    &__menu-link {
        line-height: 16px;
    }

    &__menu {
        display: flex;
        list-style: none;
    }

    &__menu-item:first-child {
        padding-right: 13px;
    }


    &__menu-item+.footer-bot__menu-item {
        padding: 0 13px;
        border-left: 1px solid #7b7b7b;
    }

}

.top-slider {
    margin: 0 75px;
    background-color: #fcd7b6;

    &__content {
        padding-top: 225px;
        padding-left: 300px;
    }

    &__item {
        display: flex !important;
        justify-content: space-between;
    }

    &__title {
        max-width: 420px;
        @extend %rubik-500;
        font-size: 72px;
        line-height: 70px;
        color: #243f4d;
        margin-bottom: 45px;
    }

    &__text {
        @extend %rubik-400;
        color: #436372;
        max-width: 330px;
        margin-bottom: 45px;

    }

    &__link {
        background-color: #a3bbc8;
        padding: 25px 20px 25px 25px;
        @extend %rubik-500;
        color: white;
        cursor: pointer;

        span {
            padding-left: 60px;
            font-size: 20px;
        }
    }

    &__img {
        padding: 100px 180px 0 0;
    }

}

.slick-dots {
    display: flex;
    justify-content: center;

    li+li {
        padding-left: 11px;
    }

    li {
        padding-bottom: 45px;

        button {
            @extend %rubik-500;
            padding: 0;
            font-size: 10px;
            background-color: white;
            color: #243f4d;
            width: 30px;
            height: 30px;
            border-radius: 50%;
            border: 1px solid transparent;
            opacity: 0.302;
        }

        &.slick-active {
            button {
                opacity: 1;
            }
        }
    }
}


.about {
    margin-bottom: 74px;

    &__wrapper {
        display: flex;
        justify-content: space-around;
        margin: 0 75px;
        padding: 34px 0;
        background-color: #fef7f0;
    }

    &__item {
        display: flex;
        align-items: center;
        position: relative;
        max-width: 300px;


        &:nth-child(even) {

            &::after {
                content: url("../images/about-border.svg");
                position: absolute;
                width: 1px;
                height: 170px;
                left: -150px;
                top: -35px;
            }

            p::before {
                content: url("../images/about-border.svg");
                position: absolute;
                width: 1px;
                height: 170px;
                left: 440px;
                top: -35px;
            }
        }

        &::before {
            content: url("../images/icons/circle-mini.svg");
            position: absolute;
            width: 20px;
            height: 20px;
            left: 36px;
            bottom: 32px;
        }

        &-img {
            margin-right: 30px;
            transform: translateY(-10px);
        }

        &-content:nth-child(odd) {
            max-width: 200px;
        }

        &-title {
            @extend %dmsans-700;
            font-size: 18px;
            line-height: 40px;
            color: #414141;
        }

        &-text {
            @extend %dmsans-400;
            font-size: 16px;
            line-height: 30px;
            color: #585858;
        }
    }


}

.week-products {
    margin-bottom: 190px;

    &__title {
        text-align: center;
        margin-bottom: 32px;
    }

    &__buttons {
        margin-bottom: 80px;
    }

    &__cards {
        display: grid;
        grid-template-columns: repeat(4, 1fr);
        grid-gap: 40px 30px;
    }

}

.product-buttons {
    display: flex;
    justify-content: center;
}

.product__btn {
    font-size: 16px;
    line-height: auto;
    @extend %dmsans-700;
    border: none;
    background-color: transparent;

    color: #8b8b8b;
    cursor: pointer;
}

.mixitup-control-active {
    color: #1a1a1a;
}

.product__btn+.product__btn {
    margin-left: 30px;
}

.product-card {
    border: 1px solid transparent;
    height: 380px;
    width: 270px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0px 6px 47px 3px rgba(37, 37, 37, 0.05);

    &:hover {
        .product-card__link-box {
            transform: translateY(0);
        }
    }

    &__inner {
        display: flex;
        flex-direction: column;
        padding: 30px 8px;
        height: 380px;
    }

    &__img-box {
        position: relative;
        overflow: hidden;

    }

    &__img-box img {
        margin-left: auto;
        margin-right: auto;
        object-fit: cover;
    }

    &__link-box {
        left: 0;
        right: 0;
        margin: 0 auto;
        position: absolute;
        bottom: 20px;
        transform: translateY(700%);
        transition: all .3s;
    }

    &__link {
        background-color: #fff;
        border-radius: 50%;
        border: 1px solid transparent;
        transition: all .3s;

        path {
            transition: all .3s;
        }
    }

    &__link:hover {
        background-color: #a3bbc8;

        path {
            fill: #fff;
        }
    }

    &__link-search {
        padding: 13px 10px;
    }

    &__link-cart {
        padding: 14px 10px;
    }

    &__link-heart {
        padding: 14px 12px;
    }

    &__link-heart svg,
    &__link-cart svg,
    &__link-search svg {
        transform: translateY(4px);
    }

    &__link+&__link {
        margin-left: 16px;
    }

    &__title {
        color: #243f4d;
        @extend %dmsans-500;
        font-size: 16px;
        line-height: 22px;
        margin-bottom: 8px;
        margin-top: auto;

    }

    &__price {
        color: #a3bbc8;
        @extend %dmsans-700;
        font-size: 16px;
        line-height: 22px;
    }

}



.lamps {
    margin-bottom: 100px;

    &__inner {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
    }



}

.lamp-left,
.lamp-right {
    display: flex;
    justify-content: space-between;
    background-color: #feefe2;
    padding-left: 140px;
    padding-right: 146px;

    img {
        transform: translateY(-100px);
        padding-right: 30px;

    }

    &__title {
        margin-top: 100px;
        margin-bottom: 20px;
        color: #243f4d;
        font-size: 26px;
        line-height: 32px;
        @extend %dmsans-700;
    }

    &__features {
        max-width: 330px;
        color: #243f4d;
        font-size: 16px;
        line-height: 30px;
        @extend %rubik-400;
        margin-bottom: 36px;
    }

    &__link {
        @extend %rubik-500;
        border: 1px solid rgba(67, 99, 114, .4);
        border-radius: 5px;
        font-size: 15px;
        line-height: 18px;
        color: #436372;
        padding: 20px 19px;

        span {
            font-size: 20px;
            padding-left: 45px;
        }
    }
}


.design {
    margin-bottom: 120px;

    &__title {
        text-align: center;
        margin-bottom: 32px;
    }

    &__buttons {
        margin-bottom: 80px;
    }

    &__items {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-gap: 34px 30px;
    }

    &__item-name {
        position: absolute;
        @extend %dmsans-700;
        margin: 36px 0 0 36px;
        max-width: 180px;
    }

    &__item-title {
        font-size: 20px;
        line-height: 24px;
        margin-bottom: 16px;
        color: #191919;
    }

    &__item-kind {
        font-size: 16px;
        line-height: 20px;
        color: #a3bbc8;
    }

}


.video-popup {
    margin-bottom: 120px;

    &__inner {
        display: flex;
        justify-content: center;
        align-items: center;
    }

}


@import 'media';